<!DOCTYPE html>
<html>
    <head>
        <title>Add Order</title>
    </head>
    <body>
        <header>
            <div style="border-style: bold;">
                <nav>
                <a id="db-base-order" href="{{ url_for('base') }}" style="margin-right: 1rem;">Database</a>
                <a id="add-order" href="{{ url_for('add_order') }}" style="margin-right: 1rem;">Add Manually</a>
                <a id="add-order-file" href="{{ url_for('add_order_csv') }}" style="margin-right: 1rem;">Add File</a>
                </nav>
            </div>
            <h2>Add Order to the Database:</h2>
        </header>
        <p>{{ heading }}</p>
        {% block content %}
            <form method="POST" style="width: 80%;">
                {{ form.hidden_tag() }}
                {{ form.order_id.label(class="form-label") }}
                {{ form.order_id(class="form-control")}}
                {{ form.order_customer.label(class="form-label") }}
                {{ form.order_customer(class="form-control")}}
                <table>
                    {% for subfield in form.order_products %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                </table>  
                {{ form.submit(class="form-control")}}
            </form>
        {% endblock %}
    </body>
</html>