<!DOCTYPE html>
<html>
    <head>
        <title>Database for all products saved</title>
    </head>
    <body>
        <header>
            <div style="border-style: bold;">
                <nav>
                    <a id="db-base-order" href="{{ url_for('base') }}" style="margin-right: 1rem;">Database</a>
                    <a id="add-order" href="{{ url_for('add_person') }}" style="margin-right: 1rem;">Add Customer</a>
                    <a id="find-customer" href="{{ url_for('find_person') }}" style="margin-right: 1rem;">Find Customer</a>
                </nav>
            </div>
            <h2>Database Add Person</h2>
        </header>
        <p>{{ heading }}</p>
        {% block content %}
            <form method="POST" class="caption" style="width: 80%;">
                {{ form.hidden_tag() }}
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control")}}
                {{ form.birthday.label(class="form-label") }}
                {{ form.birthday(class="form-control")}}
                {{ form.city.label(class="form-label") }}
                {{ form.city(class="form-control")}}
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control")}}
                {{ form.phone.label(class="form-label") }}
                {{ form.phone(class="form-control")}}
                {{ form.submit(class="form-control")}}
            </form>
        {% endblock %}
    </body>
</html>