<!DOCTYPE html>
<html>
    <head>
        <title>Database for all persons</title>
    </head>
    <body>
            <h2>Current entries in the database:</h2>
                <table>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>B-dayr</th>
                        <th>city</th>
                        <th>email</th>
                        <th>phone</th>
                    </tr>
                    {% block content %}
                        {% for person in person_table %}
                        <tr>
                            <td>{{ person.id }}</td>
                            <td>{{ person.name }}</td>
                            <td>{{ person.birthday }}</td>
                            <td>{{ person.city }}</td>
                            <td>{{ person.email }}</td>
                            <td>{{ person.phone }}</td>
                        </tr>
                        {% endfor %}
                    {% endblock %}
                </table>
        </body>
</html>