<!DOCTYPE html>
<html>
    <head>
        <title>Database for all products saved</title>
    </head>
    <body>
        <p>{{ heading }}</p>
        <h2>Database Add Person</h2>
        {% block content %}
        <form method="POST" class="caption">
            {{ form.hidden_tag() }}
            {{ form.option.label(class="form-label") }}
            {{ form.option(class="form-control") }}
            {{ form.query.label(class="form-label") }}
            {{ form.query(class="form-control")}}
            {{ form.submit(class="form-control")}}
            {% if form.query.errors %}
            <ul class="errors">
                {% for error in form.query.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </form>
    {% endblock %}
</body>
</html>